#canvas {
  border: 1px solid black;
  position: relative;
}
#div {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
body {
  margin: 0px;
  overflow: hidden;
}
h1 {
  position: absolute;
  left: 10px;
}
